{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block mediaCSS %}
<style type="text/css">
@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

.form-background {
    background-color: #cccccc;
    padding: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
</style>
{% endblock mediaCSS %}

{% block navbar_list_items %}
    <li>
        <div class="btn-group">
            <a href="/costco/events" class="btn">
                <i class="icon-arrow-left"></i>
                Back to event list
            </a>
        </div>
        <div class="btn-group">
            <button id="idNavbarBtnEventPublish" class={% if (not event.modified and event.published) or not Items %}"btn disabled" disabled="disabled"{% else %}"btn"{% endif %} data-toggle="modal" data-target="#idDlgConfirmPublishStateChanging">
                <i class="icon-play"></i>Publish
            </button>
            <button id="idNavbarBtnEventUnpublish" class={% if not event.published %}"btn disabled" disabled="disabled"{% else %}"btn"{% endif %} data-toggle="modal" data-target="#idDlgConfirmPublishStateChanging">
                <i class="icon-pause"></i>Unpublish
            </button>
        </div>
    </li>
{% endblock navbar_list_items %}

{% block content %}
<div id="myCreateForm"  class="collapse">
    <form class="form-horizontal form-background" action="never_post_to_here" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Create New Item (Type: {{ event.type | capitalize }})</legend>
            <div class="control-group">
                <label class="control-label" title="{{ event.type | capitalize }} image file to upload">Image file:</label>
                <div class="controls">
                    <input type="file" name="file">
                </div>
            </div>
            {% if event.type == 'coupon' or event.type == 'preview' %}
                {{ macros.input_field("brand", "Brand", tooltip="Item brand name") }}
                {{ macros.input_field("cname", "Chinese name", tooltip="Item Chinese name") }}
                {{ macros.input_field("ename", "English name", tooltip="Item English name") }}
                {{ macros.input_field("spec", "Spec", tooltip="Item spec or model name") }}
                {{ macros.input_field("code", "Costco Code", tooltip="Costco item code") }}
            {% if event.type == 'coupon' %}
                {{ macros.input_field("discount", "Discount", tooltip="Item discount in this events offers") }}
            {% endif %}
                {{ macros.input_field("price", "Original price", tooltip="Item original price") }}
                {{ macros.input_field("note", "Extra note", tooltip="Item extra note") }}
            {% elif event.type == 'exhibition' %}
                {{ macros.input_field("title", "Title", tooltip="Exhibition title", class="input-xlarge") }}
                {{ macros.input_field("start", "Start date", type="date", tooltip="Exhibition start date") }}
                {{ macros.input_field("end", "End date", type="date", tooltip="Exhibition end date") }}
            <div class="control-group">
                <label class="control-label" title="Exhibition locations, multiple choices">Locations</label>
                <div class="controls">
                    <select multiple="multiple" name="locations" size="9" requried>
                        <option value="Shihchih">汐止店</option>
                        <option value="Neihu">內湖店</option>
                        <option value="Chungho">中和店</option>
                        <option value="Taoyuan">桃園店</option>
                        <option value="Hsinchu">新竹店</option>
                        <option value="Taichung">台中店</option>
                        <option value="Tainan">台南店</option>
                        <option value="Dashun">大順店</option>
                        <option value="Kaohsiung">高雄店</option>
                    </select>
                </div>
            </div>
            {% elif event.type == 'announcement' %}
                {{ macros.input_field("title", "Title", class="input-xlarge", tooltip="Announcement title") }}
                {{ macros.textarea_field("content", "Content", class="input-xxlarge", rows="5", tooltip="Announcement detailed content") }}
            {% endif %}
            <div class="form-action">
                <button type="button" id="idBtnGetUploadUrl" class="btn btn-primary">Create</button>
                <button type="button" class="btn">Reset</button>
            </div>
        </fieldset>
    </form>
</div>

<!-- modal dialog to confirm event publish state changing, trigger at navbar buttons -->
<div id="idDlgConfirmPublishStateChanging" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Changing publish state?</h3>
    </div>
    <div class="modal-body">
        <div id="idTextConfirmPublishStateChanging"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="idBtnCancelPublishStateChangine">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="idBtnConfirmPublishStateChanging">Confirm</button>
    </div>
</div>

<h1>{{ event.type | capitalize }} <small id="idTextVersion">{{ event.key.id()|int + event.patch }}</small>
    <span class="label label-important" id="idLabelImportantNotification">{% if event.published and event.modified and Items %}Need re-publish{% endif %}</span>
    <button type="button" id="showHideBtn" class="btn btn-info pull-right" data-toggle="collapse" data-target="#myCreateForm">
        <i id="btnIcon" class="icon-chevron-down icon-white"></i><span id="btnText">Show form</span>
    </button>
</h1>

{% if Items %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="text-align:center;">#</th>
            <th>Image</th>
            {% if event.type == 'coupon' or event.type == 'preview' %}
            <th>Brand</th>
            <th>CName</th>
            <th>EName</th>
            <th>Spec</th>
            <th>Costco Code</th>
            {% if event.type == 'coupon' %}
            <th>Discount</th>
            {% endif %}
            <th>Original Price</th>
            <th>Note</th>
            {% elif event.type == 'exhibition' %}
            <th>Title</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Locations</th>
            {% elif event.type == 'announcement' %}
            <th>Title</th>
            <th>Content</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in Items %}
        <tr id="item_{{ loop.index }}" onmouseover="document.getElementById('opBtnGrp{{ loop.index }}').style.display = 'block';" onmouseout="document.getElementById('opBtnGrp{{ loop.index }}').style.display = 'none';">
            <td style="text-align:center; width:28px;">{{ loop.index }}
                <div class="btn-group btn-group-vertical" id="opBtnGrp{{ loop.index }}" style="display: none;">
                    <button type="button" class="btn btn-mini clsBtnAskEditItem" data-toggle="modal" data-target="#idDlgEditItem" data-urlsafe="{{ item.urlsafe }}" title="Edit"><i class="icon-edit"></i></button>
                    <button type="button" class="btn btn-mini clsBtnAskDeleteItem" data-toggle="modal" data-target="#idDlgConfirmDeleteItem" data-cname-or-title="{{ item['cname'] if item['cname'] else item['title'] }}" data-urlsafe="{{ item.urlsafe }}" data-blobkey="{{ item.blob_key }}" title="Delete"><i class="icon-trash"></i></button>
                </div>
            </td>
            <td><img src="{{ item['url'] }}=s300"></td>
            {% if event.type == 'coupon' or event.type == 'preview' %}
            <td class="item-brand">{{ item['brand'] }}</td>
            <td class="item-cname">{{ item['cname'] }}</td>
            <td class="item-ename">{{ item['ename'] }}</td>
            <td class="item-spec">{{ item['spec'] }}</td>
            <td class="item-code">{{ item['code'] }}</td>
            {% if event.type == 'coupon' %}
            <td class="item-discount">{{ item['discount'] }}</td>
            {% endif %}
            <td class="item-price">{{ item['price'] }}</td>
            <td class="item-note">{{ item['note'] }}</td>
            {% elif event.type == 'exhibition' %}
            <td class="item-title">{{ item['title'] }}</td>
            <td class="item-start">{{ item['start'] }}</td>
            <td class="item-end">{{ item['end'] }}</td>
            <td class="item-locations">
                {%- for loc in item['locations'] -%}
                    {{ loc }}{% if not loop.last %} <br>{% endif %}
                {%- endfor -%}
            </td>
            {% elif event.type == 'announcement' %}
            <td class="item-title">{{ item['title'] }}</td>
            <td class="item-content">{{ item['content'] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal hide fade" id="idDlgConfirmDeleteItem">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Confirm delete?</h3>
    </div>
    <div class="modal-body">
        <div id="idTextConfirmDeleteItem"></div>
        <div id="idItemKey" hidden="hidden"></div>
        <div id="idBlobKey" hidden="hidden"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="idBtnCancelDeleteItem">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="idBtnConfirmDeleteItem">Confirm</button>
    </div>
</div>
<div class="modal hide" id="idDlgEditItem">
    <form class="form-horizontal modal-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Edit item</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idItemTableRowId" value="">
            <input type="hidden" id="idEditedItemKeyUrlsafe" name="urlsafe" value="">
            {% if event.type == 'coupon' %}
                {{ macros.input_field("brand", "Brand", id="idCouponBrand") }}
                {{ macros.input_field("cname", "CName", id="idCouponCName") }}
                {{ macros.input_field("ename", "EName", id="idCouponEName") }}
                {{ macros.input_field("spec", "Spec", id="idCouponSpec") }}
                {{ macros.input_field("code", "Code", id="idCouponCode") }}
                {{ macros.input_field("discount", "Discount", id="idCouponDiscount") }}
                {{ macros.input_field("price", "Price", id="idCouponPrice") }}
                {{ macros.input_field("note", "Note", id="idCouponNote") }}
            {% elif event.type == 'preview' %}
                {{ macros.input_field("brand", "Brand", id="idPreviewBrand") }}
                {{ macros.input_field("cname", "CName", id="idPreviewCName") }}
                {{ macros.input_field("ename", "EName", id="idPreviewEName") }}
                {{ macros.input_field("spec", "Spec", id="idPreviewSpec") }}
                {{ macros.input_field("code", "Code", id="idPreviewCode") }}
                {{ macros.input_field("price", "Price", id="idPreviewPrice") }}
                {{ macros.input_field("note", "Note", id="idPreviewNote") }}
            {% elif event.type == 'exhibition' %}
                {{ macros.input_field("title", "Title", id="idExhibitionTitle") }}
                {{ macros.input_field("start", "Start", type="date", id="idExhibitionStart") }}
                {{ macros.input_field("end", "End", type="date", id="idExhibitionEnd") }}
            <div class="control-group">
                <label class="control-label">Locations</label>
                <div class="controls">
                    <select id="idExhibitionLocations" name="locations" multiple="multiple" size="9">
                        <option value="Shihchih">汐止店</option>
                        <option value="Neihu">內湖店</option>
                        <option value="Chungho">中和店</option>
                        <option value="Taoyuan">桃園店</option>
                        <option value="Hsinchu">新竹店</option>
                        <option value="Taichung">台中店</option>
                        <option value="Tainan">台南店</option>
                        <option value="Dashun">大順店</option>
                        <option value="Kaohsiung">高雄店</option>
                    </select>
                </div>
            </div>
            {% elif event.type == 'announcement' %}
                {{ macros.input_field("title", "Title", id="idAnnouncementTitle") }}
                {{ macros.textarea_field("content", "Content", id="idAnnouncementContent", class="input-block-level", rows="5") }}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" id="idBtnCancelEditItem">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="idBtnConfirmEditItem">Edit</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}

{% block mediaJS %}
<script type="text/javascript">
$('#myCreateForm').on('shown', function() {
    console.log('Item create form is shown.');
    $('#btnText').text('Hide form');
    $('#btnIcon').removeClass('icon-chevron-down').addClass('icon-chevron-up');
})
$('#myCreateForm').on('hidden', function() {
    console.log('Item create form is hidden.');
    $('#btnText').text('Show form');
    $('#btnIcon').removeClass('icon-chevron-up').addClass('icon-chevron-down');
})
$('#idNavbarBtnEventPublish').on('click', function(){
    console.log('Prepare to publish event.');
    $('#idTextConfirmPublishStateChanging').text('Are you sure you want to publish this event?');
})
$('#idNavbarBtnEventUnpublish').on('click', function(){
    console.log('Prepare to unpublish event.')
    $('#idTextConfirmPublishStateChanging').text('Are you sure you want to unpublish this event?');
})
$('#idBtnCancelPublishStateChangine').on('click', function(){
    console.log('Cancel event publish state change!');
})
$('#idBtnConfirmPublishStateChanging').on('click', function(){
    var publish;
    var str_confirm = $('#idTextConfirmPublishStateChanging').text();
    if (~str_confirm.indexOf("unpublish")) {
        console.log('Ready to unpublish event.');
        publish = false;
    } else if (~str_confirm.indexOf("publish")) {
        console.log('Ready to publish event.');
        publish = true;
    } else {
        return;
    }

    $.ajax({
        type: "PUT",
        url: "/costco/event/{{ event.key.id() }}",
        data: {publish: publish}
    }).done(function(){
        if (publish) {
            console.log('Event publish completed!');
            $('#idNavbarBtnEventPublish').addClass('disabled');
            $('#idNavbarBtnEventUnpublish').removeClass('disabled');
            document.getElementById('idNavbarBtnEventPublish').setAttribute('disabled', 'disabled');
            document.getElementById('idNavbarBtnEventUnpublish').removeAttribute('disabled');
            /* advance event version */
            var new_ver = parseInt($('#idTextVersion').text(), 10){% if event.modified %} + 1;{% else %};{% endif %}
            $('#idTextVersion').text(new_ver.toString())
            /* empty notification label */
            $('#idLabelImportantNotification').text('')
        } else {
            console.log('Event unpublish completed!');
            $('#idNavbarBtnEventUnpublish').addClass('disabled');
            $('#idNavbarBtnEventPublish').removeClass('disabled');
            document.getElementById('idNavbarBtnEventUnpublish').setAttribute('disabled', 'disabled');
            document.getElementById('idNavbarBtnEventPublish').removeAttribute('disabled');
        }
    }).fail(function(){
        /* TODO: show some error */
    }).always(function(){
    });
})
$('.clsBtnAskDeleteItem').on('click', function(){
    var cname_or_title = $(this).data('cname-or-title');
    console.log("Prepare to delete item: " + cname_or_title);
    $('#idTextConfirmDeleteItem').text("Are you sure you want to delete " + cname_or_title + "?");
    $('#idItemKey').text($(this).data('urlsafe'));
    $('#idBlobKey').text($(this).data('blobkey'));
})
$('#idBtnCancelDeleteItem').on('click', function(){
    console.log('Cancel to delete item.');
})
$('#idBtnConfirmDeleteItem').on('click', function(){
    console.log('Confirm to delete item.');
    var rowid = $('#idTblRowId').text();
    var urlsafe = $('#idItemKey').text();
    var blobkey = $('#idBlobKey').text();
    $.ajax({
        type: "DELETE",
        url: "/costco/event/{{ event.key.id() }}?item_key=" + urlsafe + "&blob_key=" + blobkey,
    }).done(function(){
        console.log("Delete done.");
        window.location.replace("/costco/event/{{ event.key.id() }}");
    }).fail(function(){
        console.log("Delete failed.");
    }).always(function(){
    });
})
$('.clsBtnAskEditItem').on('click', function(){
    console.log("Prepare to edit item.");

    $('#idItemTableRowId').val($(this).closest('tr').attr('id')); /* backup the table row id which contains this edit button */
    $('#idEditedItemKeyUrlsafe').val($(this).data('urlsafe'));
    {% if event.type == 'coupon' %}
        $('#idCouponBrand').val($(this).closest('tr').children('td.item-brand').text());
        $('#idCouponCName').val($(this).closest('tr').children('td.item-cname').text());
        $('#idCouponEName').val($(this).closest('tr').children('td.item-ename').text());
        $('#idCouponSpec').val($(this).closest('tr').children('td.item-spec').text());
        $('#idCouponCode').val($(this).closest('tr').children('td.item-code').text());
        $('#idCouponDiscount').val($(this).closest('tr').children('td.item-discount').text());
        $('#idCouponPrice').val($(this).closest('tr').children('td.item-price').text());
        $('#idCouponNote').val($(this).closest('tr').children('td.item-note').text());
    {% elif event.type == 'preview' %}
        $('#idPreviewBrand').val($(this).closest('tr').children('td.item-brand').text());
        $('#idPreviewCName').val($(this).closest('tr').children('td.item-cname').text());
        $('#idPreviewEName').val($(this).closest('tr').children('td.item-ename').text());
        $('#idPreviewSpec').val($(this).closest('tr').children('td.item-spec').text());
        $('#idPreviewCode').val($(this).closest('tr').children('td.item-code').text());
        $('#idPreviewPrice').val($(this).closest('tr').children('td.item-price').text());
        $('#idPreviewNote').val($(this).closest('tr').children('td.item-note').text());
    {% elif event.type == 'exhibition' %}
        $('#idExhibitionTitle').val($(this).closest('tr').children('td.item-title').text());
        $('#idExhibitionStart').val($(this).closest('tr').children('td.item-start').text());
        $('#idExhibitionEnd').val($(this).closest('tr').children('td.item-end').text());
        var locations = $(this).closest('tr').children('td.item-locations').text();
        var arrayLocations = locations.split(' ');
        $('#idExhibitionLocations').val(arrayLocations);
    {% elif event.type == 'announcement' %}
        $('#idAnnouncementTitle').val($(this).closest('tr').children('td.item-title').text());
        $('#idAnnouncementContent').val($(this).closest('tr').children('td.item-content').text());
    {% endif %}
})
$('#idBtnCancelEditItem').on('click', function(){
    console.log("Cancel to edit item.");
})
$('#idBtnConfirmEditItem').on('click', function(){
    console.log("Ready to edit item.");

    $.ajax({
        url: "/costco/event/{{ event.key.id() }}",
        type: "PUT",
        data: {
            urlsafe: $('#idEditedItemKeyUrlsafe').val(),
        {% if event.type == 'coupon' %}
            brand: $('#idCouponBrand').val(),
            cname: $('#idCouponCName').val(),
            ename: $('#idCouponEName').val(),
            spec: $('#idCouponSpec').val(),
            code: $('#idCouponCode').val(),
            discount: $('#idCouponDiscount').val(),
            price: $('#idCouponPrice').val(),
            note: $('#idCouponNote').val()
        {% elif event.type == 'preview' %}
            brand: $('#idPreviewBrand').val(),
            cname: $('#idPreviewCName').val(),
            ename: $('#idPreviewEName').val(),
            spec: $('#idPreviewSpec').val(),
            code: $('#idPreviewCode').val(),
            price: $('#idPreviewPrice').val(),
            note: $('#idPreviewNote').val()
        {% elif event.type == 'exhibition' %}
            title: $('#idExhibitionTitle').val(),
            start: $('#idExhibitionStart').val(),
            end: $('#idExhibitionEnd').val(),
            locations: $('#idExhibitionLocations').val()
        {% elif event.type == 'announcement' %}
            title: $('#idAnnouncementTitle').val(),
            content: $('#idAnnouncementContent').val()
        {% endif %}
        }
    }).done(function(){
        console.log('Edit item done.');
        /* show re-publish if already published */
        {% if event.published %}
        $('#idLabelImportantNotification').text('Need re-publish')
        /* enable publish button */
        $('#idNavbarBtnEventPublish').removeClass('disabled');
        $('#idNavbarBtnEventPublish').attr('disabled', null);
        {% endif %}
        /* load modal values to table cells */
        var trid = $('#idItemTableRowId').val();
        {% if event.type == 'coupon' %}
        $('#'+trid).children('td.item-brand').text($('#idCouponBrand').val());
        $('#'+trid).children('td.item-cname').text($('#idCouponCName').val());
        $('#'+trid).children('td.item-ename').text($('#idCouponEName').val());
        $('#'+trid).children('td.item-spec').text($('#idCouponSpec').val());
        $('#'+trid).children('td.item-code').text($('#idCouponCode').val());
        $('#'+trid).children('td.item-discount').text($('#idCouponDiscount').val());
        $('#'+trid).children('td.item-price').text($('#idCouponPrice').val());
        $('#'+trid).children('td.item-note').text($('#idCouponNote').val());
        {% elif event.type == 'preview' %}
        $('#'+trid).children('td.item-brand').text($('#idPreviewBrand').val());
        $('#'+trid).children('td.item-cname').text($('#idPreviewCName').val());
        $('#'+trid).children('td.item-ename').text($('#idPreviewEName').val());
        $('#'+trid).children('td.item-spec').text($('#idPreviewSpec').val());
        $('#'+trid).children('td.item-code').text($('#idPreviewCode').val());
        $('#'+trid).children('td.item-price').text($('#idPreviewPrice').val());
        $('#'+trid).children('td.item-note').text($('#idPreviewNote').val());
        {% elif event.type == 'exhibition' %}
        $('#'+trid).children('td.item-title').text($('#idExhibitionTitle').val());
        $('#'+trid).children('td.item-start').text($('#idExhibitionStart').val());
        $('#'+trid).children('td.item-end').text($('#idExhibitionEnd').val());
        var loc_array = $('#idExhibitionLocations').val();
        $('#'+trid).children('td.item-locations').html(loc_array.join(' <br>')); /* use html instead of text, so <br> represent correctly. */
        {% elif event.type == 'announcement' %}
        $('#'+trid).children('td.item-title').text($('#idAnnouncementTitle').val());
        $('#'+trid).children('td.item-content').text($('#idAnnouncementContent').val());
        {% endif %}
    }).fail(function(){
        console.log('Edit item failed.');
    }).always(function(){
    });
})
$('#idBtnGetUploadUrl').on('click', function(){

    console.log('Retrieve blob upload url');

    $.get("/costco/event/{{ event.key.id() }}/upload"
    ).done(function(data){
        var upload_url = data[0]
        console.log('url: ' + upload_url);

        /* update attribute action of 1st form to upload_url */
        $('form:first').attr('action', upload_url);

        /* submit first form */
        $('form:first').trigger('submit');

    }).fail(function(){
        console.log('Retrieve upload url failed!');
    }).always(function(){
    })
})
</script>
{% endblock %}
