{% extends "base.html" %}

{% block mediaCSS %}
<style type="text/css">
@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}
#google-map-canvas {
    height: 780px;
    width: 100%;
}
</style>
{% endblock mediaCSS %}

{% block navbar_list_items %}
{% if counties %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">{% if client_county %}{{ client_county }}{% else %}Select County{% endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for county_name in counties.iterkeys() %}
        <li><a tabindex="-1" href="?county={{ county_name }}">{{ county_name }} ({{ counties[county_name] | count }})</a></li>
        {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">{% if client_township %}{{ client_township }}{% else %}Select Township{% endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% if client_county %}
            {% for township in counties[client_county] %}
            <li><a tabindex="-1" href="?county={{ client_county }}&township={{ township }}">{{ township }}</a></li>
            {% endfor %}
        {% else %}
        <li><a>Select county first.</a></li>
        {% endif %}
    </ul>
</li>
<li class="divider-vertical"></li>
{% endif %}
<li>
    <div class="btn-group">
        <a href="/opendata/police_stations" class="btn"><i class="icon-arrow-left"></i><span>Back to police stations</span></a>
    </div>
</li>
{% endblock navbar_list_items %}

{% block content %}
{% if police_stations %}
<div id="google-map-canvas" />
{% else %}
<p>Select County and Township in navbar to show detailed information for police stations within specific township.</p>
{% endif %}
{% endblock content %}

{% block mediaJS %}
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2wYBzKkrqNYRkCEbT8MitMzbCF4m0vBU&sensor=false&v=3"></script>
<script type="text/javascript">
$(document).ready(function(){
    {% if police_stations %}
        google.maps.visualRefresh = true;
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('google-map-canvas'), mapOptions);

        var markers = new Array();
        var latLngBounds = new google.maps.LatLngBounds();
        var latLngText;
        var split;
        var latLng;

        {% for ps in police_stations %}
        latLngText = "{{ ps.latlng }}";
        split = latLngText.split(',');
        latLng = new google.maps.LatLng(parseFloat(split[0]), parseFloat(split[1]));
        latLngBounds.extend(latLng); /* extend the bound to contain the specific lat/lng */

        markers[{{ loop.index0 }}] = new google.maps.Marker({
            map: map,
            position: latLng,
            title: "{{ ps.name }}"
        });
        {% endfor %}

        /* make sure the all markers are visible */
        map.fitBounds(latLngBounds);
    {% endif %}
});
</script>
{% endblock mediaJS %}
